.container {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 225px;
  }

  h1 {
    text-align: center;
    margin-bottom: 25px;
  }

  form a {
    float: right;
  }

  form > button {
    display: block;
    margin: 25px auto;
  }

  form > div {
    margin-top: 25px;
  }
}